* {
    padding: 0;
    margin: 0;
}

.divHeader {
    background-color: rgb(43, 41, 41);
    display: flex;
    align-items: center;
    padding: 30px;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.author-name {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0 0 0 50px;
    background-color: transparent;
}

nav {
    display: flex;
    justify-content:safe;
    padding: 20px;
    background-color: #525151;
    border: 1px yellow dotted;
}

nav p {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aquamarine;
    transition: .4s;
    background-color: #2b2b2b;
    padding: 10px 50px;
    border: white 1px solid;
    border-radius: 25px;
    margin: 0 5px;
}

nav p:hover {
    background-color: aquamarine;
    color: #2b2b2b;
    border: red 1px solid;
}